body {
    padding: 5%;
}
div {
    border-radius: 0%;
    border-color:none;
    border-width:2px ;
    border-style: none;
    height: 50vh ;
    width:fit-content;
    padding: 5px;
    color: #EAAB1B,#6CB840;
    font-family: poppins;
}
#al{
    height: 200px;
}
#star{
    height: 60px;
    width: 60px;
    color: black;
}
#all{
    height: 400px;
    width: 400px;
    margin-right: 60%;
}
#eat{
    color: coral;
}
#intro{
    margin-right: 10%;
    width: fit-content;
}
button{
    background-color: rgb(24, 202, 24);
    color: white;
    width: 120px;
    height: 150;
    border-radius: 10px;
    border-color:rgb(24,202,24) ;
    margin-right: 60%;
}
#menu{
    font-size: 28px;
    font-weight: bold;
}
#street{
    font-size: x-large;
    color: rgb(7, 161, 7);
}
#first{
    background-color: rgb(194, 180, 180);
    text-align: left;


}
#second {
    background-color: white;
    display: block;
}
#eat{
    margin-left: 60%;
}
#to{
    margin-left: 60%;
}
#third {
    background-color: rgb(196, 181, 181);
}
#fourth {
    background-color: rgba(0, 128, 0, 0.322);
}
#five {
    background-color: antiquewhite;
}